@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .major-mono {
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
    }

    html,
    body {
        @apply bg-black text-neutral-200
    }

    main {
        @apply fixed top-0 left-0 w-screen h-screen flex justify-center items-center lg:p-20 md:p-10 sm:p-2
    }

}